<div class="row  ">
  {% if article  %}

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    
                  <p class="lead"><h1> {{article.title}}</h1></p>
                  <p class="lead"> {{article.content|safe }}</p>
                  <p class="lead">Cree le {{article.creation_date}} par {{article.author}}</p>
                  <p class="lead">Modifier le {{article.last_update}}</p>
                
                </div>
              </div>
         </div>
         </div>
    {% else %}
    <p> vide</p>
  {% endif %}

</div>