{% extends "base.html" %}
{% block title %}
  Acceuil
{% endblock title %}  
{% block contenu %}
<div class="row  "> 
  
    <div class=" col m-4">
        
            <h1 class="h1 text-secondary"> les articles </h1>
    </div>
  {% if page_obj  %}
  <div class="row">
  {% for  article in page_obj %}
        
            <div class="col col-lg-4 col-md-6 my-2">
                <a href="{% url 'details' article.id %}" style="text-decoration:none ;" >
                    <div class="card  "   style="width: 18rem;" >
                        
                        <div class="card-body">
                            <li class=" h5 card-title">{{article.title}}</li>
                            <p class="card-text text-info">{{article.summary}}</p>
                            <p class="card-text">Publier  le {{article.creation_date}} par {{article.author}}</p>
                        </div>
                    </div> 
                </a>
                
            </div>
        
    {% endfor %}
</div>
  
  {% endif %}
  <div>
    {% if request.user.is_authenticated %}
          <div class="d-flex justify-content-center">

            <p class="alert alert-info  text-center">{{request.user}} connecté</p>
          </div>

      {%else%}
    <div class=" text-center  ">

      <p class=" text-secondary"><a class="text-info" href="{% url 'register'%}">S' inscrire</a>  pour ajouter des articles</p>
       <p class=" text-secondary"><a class="text-info" href="{% url 'login'%}"> Se connecter </a> pour gerer vos articles</p>
    </div>
    {% endif %}
    {% include "partials/pagination.html" %}
  </div>

</div>
{% endblock contenu %}