<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap_min.css'%}">
    <title>{% block  title%} Blog{% endblock  %}</title>
</head>
<body>
    
  {% include "partials/header.html" %}
  <div class="container">
    {% block contenu %}
    {% endblock  %}
  </div>

<script src="{% static 'js/bootstrap.bundle.js'%}" ></script>
</body>
</html>