{% extends "base.html" %}

{% block title %}
S'inscrire
{% endblock title %}

{% block contenu %}

<div class="row">
    <div class="col-md-auto m-auto mt-2">
        <form class="form-group" method="post">

            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit" > S'inscrire</button>
            <p class=" alert alert-secondary mt-5"> <a class="" href="{% url 'login'%}">Se connecter</a> si vous avez compte ✔</p>

        </form>
    </div>
</div>

{% endblock contenu %}